# Node.js dependencies
node_modules/

# MongoDB data folder
MongoDB/Data/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
