.container{
    height:500px;
    width: 500px;
    background-color: yellowgreen;
    border: 2px solid red;
    display:flex

}
.box{
    border: 2px solid orange;
    background-color: rgb(250, 156, 156);
    width: 100px;
    height: 100px;
    margin: 10px;    
    /* transition: .5s; */
    
    /* transition-property: background-color; */
 
    /* transition-delay: 2s; */ 
    transition: transform 0s ease 0s;
}
.box:hover{
    /* background-color: blueviolet; */
    transform: rotate(4deg);
}