.container{
    border: 1px solid black;
    height: 400px;
    width: 50vw;
    display: flex;
    
     /*display: row;
    display: row-reverse;
    display: column-reverse; */

    /* flex-direction: row-reverse; */
    /* flex-wrap:nowrap;
    flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* justify-content: flex-start;
    justify-content: flex-end;

    <!--main axis-->

    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;

    <!--cross axis-->
    
    align-items: flex-end;
    align-items: baseline; */
    align-items: flex-start;
    justify-content: center;
    /* align-items: center;   */
    gap: 10px;

}
.box{
    border: 1px solid green;
    background-color: aqua;
    width: 50px;

}
#box1{
    order: 1;
}
#box2{
    order: 2;
}
#box3{
    order: 4;
}
#box4{
    order: 3;
}