*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.container{
    background-color: blueviolet;
    border:2px solid black;
    height: 216px;
    width:100%;

}
.box{
    border: solid green;
    height:212px;
    width:212px;
    border: 2px solid black;
    background-color: aquamarine;

    animation-name: harsh;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: 1s ease-in;
    animation-direction:alternate-reverse;
    
}
@keyframes harsh{
    from{
        width:212px; 
    }
    to{
        width:800px;
    }
}    