.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 20px;
    padding:25px
     
}
#brown{
     background-color: brown;
}
#white{
    background-color: white;
}
#aqua{
    background-color:aqua
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
