.box{
    border: 2px solid black;
    height: 200px;
    width: 300px;
    background-image: linear-gradient(aqua, pink);
    background-image: linear-gradient(to right,aqua, pink);
    background-image: linear-gradient(to bottom,aqua, pink);
    background-image: linear-gradient(to bottom right,aqua, pink);
    background-image: linear-gradient(50deg,aqua, pink);
    background-image: linear-gradient(50deg, aqua, pink, yellow);
    background-image: linear-gradient(50deg, aqua, pink, yellow, green);
    background-image: linear-gradient(50deg, rgba(0, 255, 255, 0.5), rgba(255, 192, 203, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5));
    
}
.div{
    border: 2px solid black;
    width: 500px;
    height: 400px;
    background-image: radial-gradient(circle, red, yellow, green, blue,black);
    background-image: radial-gradient(circle, red 10%, yellow 52%, green 80%, blue 95%,black 1%);

}