.container{
    border: 1px solid brown;
    background-color: yellow;
    height: 700px;
    width:600px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap:10px;

    /* justify-content: center;center from top (horizontal axis) */
    /* justify-content: end; at left most */
    /* justify-content: start;at right most */
    /* justify-content: space-between;no gap in left and right */
    /* justify-content: space-around; gap in left and right  */
    /* justify-content: space-evenly;equal gap b/w boxes  */

    /* cross axis or vertical axis */
    /* align-items: start;
    /* align-items: center;
    align-items: end;
    align-items: baseline;
    align-items: stretch; */

    
    /* align-content: center;
    align-content: end;
    align-content: space-between; */
    /* PLACE CONTENT */
    place-content: center;
    /* place-items: center; */

}
.box{
    border: 2px solid rgb(246, 0, 0);
    background-color: rgb(0, 255, 0);
}
/* ALIGN SELF/ JUSTIFY SELF IS USED IN CHILD ITEMS */
#ALIGNSELF{
    align-self: center;
    
}
#JUSTIFYSELF{
    justify-self: center;   
}